.note
    &_item
        position: relative
        padding: 10px
        min-height: 250px
        max-height: 300px
        box-shadow: 5px 5px 7px rgba(33,33,33,.35)
        transition: transform .15s linear
        &_create
            display: none
            &_show
                display: block
        &:hover, &:focus
            z-index: 1
            box-shadow: 5px 5px 7px rgba(33,33,33,.6)
        &__title,
        &__text
            display: inline-block
            cursor: pointer
        &__title_input,
        &__text_input
            background-color: rgba(white, .3)
            border: none
            outline: none
            border-bottom: 1px solid white
            box-shadow: 2px 2px 5px rgba(black,.1)
        &__title,
        &__title_input
            margin-bottom: 20px
            height: 33%
            width: 85%
            font-family: 'Manrope', sans-serif
            font-weight: 400
            font-size: 24px
        &__text,
        &__text_input
            width: 100%
            min-height: 70px
            font-family: 'Manrope', sans-serif
            font-weight: 300
            font-size: 16px
        &__checkbox
            display: block
            position: absolute
            top: 10px
            right: 10px
            cursor: pointer
            user-select: none
            input[type=checkbox] 
                z-index: -1
                display: block
                width: 0
                height: 0
                position: absolute
                opacity: 0
            span
                display: inline-block
                position: relative
                padding: 0 0 0 25px 
                line-height: 22px
            span:before
                content: ""
                display: inline-block
                width: 22px
                height: 22px
                position: absolute
                left: 0
                top: 0
                transition: background 0.3s ease
                background: url(https://snipp.ru/uploads/contents/checkbox-1.png) 0 0 no-repeat
            input[type=checkbox]:checked + span:before 
	            background-image: url(https://snipp.ru/uploads/contents/checkbox-2.png)
            span:hover:before 
	            filter: brightness(110%)
            span:active:before
	            filter: brightness(80%)

.theme
    position: absolute
    bottom: 10px
    left: 10px
    span
        margin-right: 10px
        display: inline-block
        height: 20px
        width: 20px
        border-radius: 50%
        border: 1px solid white
        box-shadow: 1px 1px 5px rgba(black, .5)
        cursor: pointer
    &__grey
        background-color: #dcdcdc
    &__pink
        background-color: #ffc9de
    &__blue
        background-color: #c4faf8
    &__green
        background-color: #aff8d8
    &__yellow
        background-color: #ffffd1